extends layout

block hero-unit
  .jumbotron
    .container
      h1 SHARE HOUSE

block content
  .container
    .row
      .col-md-6
        h3 ShareHouse에 오신 걸 환영합니다.
        p 새로운 여행을 경험해보세요~ 
      .col-md-6
        h3 숙소 관련
        ul
          li 숙소 등록
          li 숙소 예약
          li 숙소 기본정보 : 주소, 숙소 요금, 편의시설, 이용규칙
          li 숙소 목록
    
  .dummy
| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
script(src='/javascripts/autocomplete.js')

  
